@model IEnumerable<TrainMVC.ViewModel.TrainQueryViewModel>
@using TrainMVC.Utility.Extensions;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<form action="@Url.Action("Index")" method="post">
    起站地區/縣市:
    <select id="startStationCountyId" name="startStationCountyId">
        <option county="" value="-1">請選擇</option>
        @foreach (var county in (List<TrainMVC.Models.CountyModel>)ViewBag.County)
        {
            if (ViewBag.StartStationCounty == county.CountyNo)
            {
                <option selected value="@county.CountyNo">@county.County</option>
            }
            else
            {
                <option value="@county.CountyNo">@county.County</option>
            }
        }
    </select>
    起站:
    <select id="startStationId" name="startStationId">
        <option county="" value="-1">請選擇</option>
        @foreach (var station in (List<TrainMVC.Models.StationCountyModel>)ViewBag.Stations)
        {

            if (ViewBag.EndStation == station.Station)
            {
                <option county="@station.CountyNo" hidden="hidden" selected value="@station.Station">@station.StationCTName</option>
            }
            else
            {
                <option county="@station.CountyNo" hidden="hidden" value="@station.Station">@station.StationCTName</option>
            }
        }
    </select>
    訖站地區/縣市:
    <select id="endStationCountyId" name="endStationCountyId">
        <option county="" value="-1">請選擇</option>
        @foreach (var county in (List<TrainMVC.Models.CountyModel>)ViewBag.County)
        {
            if (ViewBag.EndStationCounty == county.CountyNo)
            {
                <option selected value="@county.CountyNo">@county.County</option>
            }
            else
            {
                <option value="@county.CountyNo">@county.County</option>
            }
        }
    </select>
    訖站:
    <select id="endStationId" name="endStationId">
        <option county="" value="-1">請選擇</option>
        @foreach (var station in (List<TrainMVC.Models.StationCountyModel>)ViewBag.Stations)
        {

            if (ViewBag.EndStation == station.Station)
            {
                <option county="@station.CountyNo" hidden="hidden" selected value="@station.Station">@station.StationCTName</option>
            }
            else
            {
                <option county="@station.CountyNo" hidden="hidden" value="@station.Station">@station.StationCTName</option>
            }
        }
    </select>

    <input type="submit" value="查詢">
</form>
@if (Model.IsNotEmpty())
{
    <h1>@ViewBag.StartStationName - @ViewBag.EndStationName</h1>

    <table class="table">
        <tr>
            <th>
                車次
            </th>
            <th>
                出發時間
            </th>
            <th>
                抵達時間
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Train)*@
                    @Html.ActionLink(item.Train.ToString(), "GetTrain", new { ID=item.Train }) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartARRTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndARRTime)
                </td>
            </tr>
        }

    </table>
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        A($("#startStationCountyId"));
    });
    function A(item) {
        var s = item;
        var id = s.val();
        var t = $('#startStationId option').each(function ()
        {  //遍历所有option
            var option = $(this);
            var county = option.attr('county');   //获取option值
            if (county == id)
            {
                option.removeAttr("hidden");
                option.removeAttr("select");
            }
            else if (county === '')
            {
                option.attr("select");
                $('#startStationId').val("-1");
            }
            else {
                option.attr("hidden", "hidden");
               option.removeAttr("select");
            }
        });

    }
    $("#startStationCountyId").change(function () {
        var s = $(this);
        A(s);
    });
</script>
<script>
    $(document).ready(function() {
        T($("#endStationCountyId"));
    });
    function T(item) {
        var s = item;
        var id = s.val();
        var t = $('#endStationId option').each(function ()
        {  //遍历所有option
            var option = $(this);
            var county = option.attr('county');   //获取option值
            if (county == id)
            {
                option.removeAttr("hidden");
                option.removeAttr("select");
            }
            else if (county === '')
            {
                option.attr("select");
                $('#endStationId').val("-1");
            }
            else {
                option.attr("hidden", "hidden");
               option.removeAttr("select");
            }
        });

    }
    $("#endStationCountyId").change(function () {
        var s = $(this);
        T(s);
    });



</script>
